.bioGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 51px 321px 1371px 50px;
    grid-template-areas: 
    "cabeza cabeza"
    "pic pic"
    "articulo articulo"
    "pies pies";
}
.bio {
    text-align: left;
    display: block;
    color: $textColor;
    a {
        display: block;
        text-align: left;
        text-decoration: none;
        font-size: 18px;
        color: #00ffcc;
        &:hover {
            --bs-link-hover-color: #73ec73;
        }
    }
    h3 {
        font-size: 18px;
        text-decoration: none;
        margin: 15px;
    }
    article {
        font-family: map-get($parrafo, ffam);
        margin: map-get($parrafo, margin);
    }
}
.band {    
    color: #00ffcc;
    font-size: 16px;
    h3 {
        font-size: 18px;
        margin: 15px;
    }
    ul{
        li {
            list-style-type: none;
            margin: 10px;
            a {
                font-family: map-get($parrafo, ffam);
                color: $textColor;
                &:hover {
                    font-size: 150%;
                }
            }
        }
    }
}
.bioBandpic {
    grid-area: articulo;
    @include sizes(100%, auto);
}
/*arreglo para laptop 1024px según Chrome*/
@media screen and (max-width: 1440px){
    .bioGrid {
        grid-template-rows: 51px 321px 1437px 50px;
    }
}
@media screen and (max-width: 1024px){
    .bioGrid {
        grid-template-rows: 51px 238px 1144px 55px;
    }
    .bio h3{
        font-size: 18px;
    }
    .bio article {
        font-size: 14px;
    }
    .band {
        font-size: 14px;
    }
}
/*tamaño intermedio para mejor responsive"*/
@media screen and (max-width: 991px){
    .bioGrid {
        grid-template-rows: auto 186px 1110px 50px;
    }
	.bio h3 {
        font-size: 15px;
        margin: 10px;
    }
    .bio article {
        font-size: 12px;
        margin: 10px;
    }
    .band h3 {
        font-size: 15px;
    }
    .band ul li a {
        font-size: 12px;
    }
}
/*Tablet 768px según Chrome y Responsively*/
@media screen and (max-width: 768px){
    .bioGrid {
        grid-template-rows: auto 186px 980px 50px;
    }
    .bio h3 {
        font-size: 15px;
        margin: 10px;
    }
    .bio article {
        font-size: 12px;
        margin: 10px;
    }
    .band h3 {
        font-size: 15px;
    }
    .band ul li a {
        font-size: 12px;
    }
}
@media screen and (max-width: 425px){
    .bioGrid {
        grid-template-rows: auto 114px 870px 50px;
    }
    .bio h3 {
        font-size: 15px;
    }
    .bio article {
        font-size: 12px;
    }
    .band h3 {
        font-size: 15px;
    }
    .band ul li a {
        font-size: 12px;
    }
}
@media screen and (max-width: 375px){
    /*Bio Cel*/
    .bioGrid {
        grid-template-rows: auto 100px 880px 50px;
    }
    .bio h3 {
        font-size: 12px;
    }
    .bio article {
        font-size: 11px;
    }
    .band h3 {
        font-size: 13px;
    }
}
/*Cel 320px según Chrome*/
@media screen and (max-width: 320px){
    .bioGrid {
        grid-template-rows: auto 90px 880px 40px;
    }
}
