.musicGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 51px 338px 1047px 50px;
    grid-template-areas: 
    "cabeza cabeza"
    "pic pic"
    "articulo articulo"
    "pies pies";
}
.musicLinks {
    grid-area: articulo;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-top: 100px;
    a {
        padding: 20px;
        padding: 10px;
        img {
            @include sizes(80px, 80px);
            transition: 0.5s;
            &:hover {
               @include sizes(100px, 100px);
            } 
        }
    }
}
.musicBanner img {
    @include sizes(100%, auto);
}
/*arreglo para laptop 1024px según Chrome*/
@media screen and (max-width: 1024px){
    .musicGrid {
        grid-template-rows: auto 255px 836px 50px;
    }
    .musicLinks a img {
        @include sizes(60px, 60px);
    }
}
/*Tablet 768px según Chrome y Responsively*/
@media screen and (max-width: 768px){
    /*musicGrid and mods for Tablet*/
    .musicGrid {
        grid-template-rows: auto 186px 780px 45px;
    }
    .musicLinks {
        margin-top: 70px;
    }
}
/*Arreglo para medidas intermedias según Chrome*/
@media screen and (max-width: 657px){
    .musicLinks a img {
        @include sizes(45px, 45px);
    }
}
@media screen and (max-width: 425px){
    .musicGrid {
        grid-template-rows: auto 115px 434px 40px;
    }
    .musicLinks {
        margin-top: 65px;
        a {
            img {
                @include sizes(45px, 45px);
            }
        }
    }
}
/*Celu 375px según Chrome y Responsively*/
@media screen and (max-width: 375px){
    .musicGrid {
        grid-template-rows: auto 115px 443px 40px;
    }
    .musicLinks {
        flex-direction: column;
        align-items: center;
        margin-top: 45px;
        a {
            padding: 15px;
            img {
                @include sizes(40px, 40px);  
            }
        }
    }
}