/*Gradiente*/
$gradColor: rgba(0, 255, 204, 0.32);

$textColor: whitesmoke;

$rrssH: (
    facebook: #4f7ee4,
    twitter: #0da9f1,
    instagram: radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%)
);
